.login-container {
    background-color: rgb(149, 170, 226, 0.5);
    border: 1px solid rgb(17, 15, 15);
    position: absolute;
    height: 10em;
    width: 25em;
    left: 25em;
    top: 5em;
    border-radius: 0.5em;
}

.form-label {
    position: relative;
    top: 2em;
    left: 1em;
    font-size: 1.2em;
}

.form-input {
    position: relative;
    top: 3em;
    left: 3em;
}

.form-btn {
    position: relative;
    bottom: 1em;
    height: 2em;
    width: 5em;
    left: 24em;
}