<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <link th:href="@{/styles/create.css}" rel="stylesheet" />
</head>

<body>

    <header class="nav-container">

        <input type="checkbox" id="check">
        <label for="check">
            <img class="menu-img" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
        </label>

        <nav>
            <ul class="navbar">

                <li class="nav-item">
                    <a class="nav-link" href="/auth/home"><img class="menu-img" th:src="@{/img/icons8-casinha-de-cachorro-20.png}" alt="Menu">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/budgets/create"><img class="menu-img" th:src="@{/img/icons8-crie-um-novo-20.png}" alt="Menu">Create Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/read"><img class="menu-img" th:src="@{/img/icons8-entrar-20.png}" alt="Menu">View Budgets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}" alt="Menu">Logout</a>
                </li>

            </ul>
        </nav>
    </header>
<div class="container">
    <div class="form-container">
        <h2>[[${pageTitle}]]</h2>
        <form th:action="@{/auth/budgets/save}" method="POST" th:obejct="${newBudget}">
            <div>
                <br><br>
                <label class="form-label" for="validity">Validity (days):</label>
                <input id="validity" class="form-input" type="number" th:field="*{newBudget.validity}" required minlength="1">
                <br><br>
                <label class="form-label" for="client_name">Client name:</label>
                <input id="client_name" class="form-input" type="text" th:field="*{newBudget.client.name}" required minlength="3">
                <br><br>
                <label class="form-label" for="client_address">Client Address:</label>
                <input id="client_address" class="form-input" type="text" th:field="*{newBudget.client.address}" required minlength="6">
                <br><br>
                <label class="form-label" for="observation">Observation:</label>
                <input id="observation" class="form-input" type="text" th:field="*{newBudget.observation}">
                <br><br>

                <input type="hidden" th:field="*{newBudget.totalValue}">
                <input type="hidden" th:field="*{newBudget.timeCreated}">
                <input type="hidden" th:field="*{newBudget.createdBy}">
                <input type="hidden" th:field="*{newBudget.expire}">
                <input type="hidden" th:field="*{newBudget.itensAmount}">
                <input type="hidden" th:field="*{newBudget.products}">

                <button class="form-btn" type="submit">[[${saveButton}]]</button>
                <button class="form-btn" type="button" onclick="cancelForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

    <script>
        function cancelForm() {
            window.location = "[[@{/}]]"
        }

    </script>
</body>

</html>