<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <link th:href="@{/styles/create.css}" rel="stylesheet" />
</head>

<body>

    <header class="nav-container">

        <input type="checkbox" id="check">
        <label for="check">
            <img class="menu-img" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
        </label>

        <nav>
            <ul class="navbar">

                <li class="nav-item">
                    <a class="nav-link" href="/index"><img class="menu-img" th:src="@{/img/icons8-casinha-de-cachorro-20.png}" alt="Menu">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/create"><img class="menu-img" th:src="@{/img/icons8-crie-um-novo-20.png}" alt="Menu">Create Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/read"><img class="menu-img" th:src="@{/img/icons8-entrar-20.png}" alt="Menu">Get Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}" alt="Menu">Logout</a>
                </li>

            </ul>
        </nav>
    </header>

    <div class="form-container">
        <h2>New Budget</h2>
        <form th:action="@{/budgets/new}" method="POST">
            <div>
                <br><br>
                <label class="form-label" for="validity">Validity (days):</label>
                <input class="form-input" type="text" id="validity" name="validity">
                <br><br>
                <label class="form-label" for="client_name">Client name:</label>
                <input class="form-input" type="text" id="client_name" name="client_name">
                <br><br>
                <label class="form-label" for="client_address">Client Address:</label>
                <input class="form-input" type="text" id="client_address" name="client_address">
                <br><br>
                <button class="form-btn" type="submit">Create</button>
            </div>
        </form>

    </div>

</body>

</html>