<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header class="nav-container">

    <input type="checkbox" id="check">
    <label for="check">
        <img class="menu-img" src="../static/img/icons8-menu-48.png" alt="Menu">
    </label>

    <nav>
        <ul class="navbar">

            <li class="nav-item">

                <a class="nav-link" href="index.html"><img src="../static/img/icons8-casinha-de-cachorro-20.png">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="login.html"><img src="../static/img/icons8-entrar-20.png">Login</a>
            </li>

        </ul>
    </nav>
</header>

</body>
</html>