<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>

<body>

    <header class="nav-container">

        <input type="checkbox" id="check">
        <label for="check">
         <img class="menu-img" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
        </label>

        <nav>
            <ul class="navbar">

                <li class="nav-item">
                    <a class="nav-link" href="/"><img class="menu-img" th:src="@{/img/icons8-casinha-de-cachorro-20.png}" alt="Menu">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/budgets/create"><img class="menu-img" th:src="@{/img/icons8-crie-um-novo-20.png}" alt="Menu">Create Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/read"><img class="menu-img " th:src="@{/img/icons8-entrar-20.png} " alt="Menu ">View Budgets</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}" alt="Menu">Logout</a>
                </li>

            </ul>
        </nav>
    </header>

</body>

</html>