<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/read.css}" rel="stylesheet"/>

</head>

<body>


<header class="nav-container">

    <input type="checkbox" id="check">
    <label for="check">
        <img class="menu-img" src="../static/img/icons8-menu-48.png" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
    </label>

    <nav>
        <ul class="navbar">

            <li class="nav-item">
                <a class="nav-link" href="/auth/home"><img class="menu-img"
                                                           th:src="@{/img/icons8-casinha-de-cachorro-20.png}"
                                                           alt="Menu">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/auth/budgets/create"><img class="menu-img"
                                                                     th:src="@{/img/icons8-crie-um-novo-20.png}"
                                                                     alt="Menu">Create
                    Budget</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/auth/read"><img class="menu-img" th:src="@{/img/icons8-entrar-20.png}"
                                                           alt="Menu">View
                    Budgets</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}"
                                                        alt="Menu">Logout</a>
            </li>

        </ul>
    </nav>
</header>

<div th:if="${message}"></div>
[[${message}]]
<div class="table-div">
    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Unitary value (R$)</th>
            <th>Discount(%)</th>
            <th>Total with discount (R$)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product:${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.amount}"></td>
                <td th:text="'R$ ' + ${product.unitaryValue}"></td>
                <td th:text="${product.percentageDiscount} + ' %'"></td>
                <td th:text="'R$ ' + ${product.totalDiscount}"></td>

            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>

</html>