<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="../static/styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet" />
    <link href="../static/styles/read.css" th:href="@{/styles/read.css}" rel="stylesheet" />

</head>

<body>


    <header class="nav-container">

        <input type="checkbox" id="check">
        <label for="check">
         <img class="menu-img" src="../static/img/icons8-menu-48.png" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
        </label>

        <nav>
            <ul class="navbar">

                <li class="nav-item">
                    <a class="nav-link" href="/index"><img class="menu-img" th:src="@{/img/icons8-casinha-de-cachorro-20.png}" alt="Menu">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/create"><img class="menu-img" th:src="@{/img/icons8-crie-um-novo-20.png}" alt="Menu">Create Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/read"><img class="menu-img" th:src="@{/img/icons8-entrar-20.png}" alt="Menu">Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}" alt="Menu">Logout</a>
                </li>

            </ul>
        </nav>
    </header>

    <div class="table-div">
        <table id="data-table" class="data-table ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Validity (days)</th>
                    <th>Client Name</th>
                    <th>Client Address</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="budget : ${listBudgets}">
                <tr>
                    <td>[[${budget.id}]]</td>
                    <td>[[${budget.validity}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
    <script type="text/javascript" th:src="@{/scripts/get.js}"></script>
</body>

</html>