<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link href="../static/styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet" />
    <link href="../static/styles/read.css" th:href="@{/styles/read.css}" rel="stylesheet" />

</head>

<body>


    <header class="nav-container">

        <input type="checkbox" id="check">
        <label for="check">
         <img class="menu-img" src="../static/img/icons8-menu-48.png" th:src="@{/img/icons8-menu-48.png}" alt="Menu">
        </label>

        <nav>
            <ul class="navbar">

                <li class="nav-item">
                    <a class="nav-link" href="/"><img class="menu-img" th:src="@{/img/icons8-casinha-de-cachorro-20.png}" alt="Menu">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/budgets/create"><img class="menu-img" th:src="@{/img/icons8-crie-um-novo-20.png}" alt="Menu">Create Budget</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/read"><img class="menu-img" th:src="@{/img/icons8-entrar-20.png}" alt="Menu">View Budgets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img class="menu-img" th:src="@{/img/icons8-desligar-20.png}" alt="Menu">Logout</a>
                </li>

            </ul>
        </nav>
    </header>

    <div th:if="${message}"></div>
    [[${message}]]
    <div class="table-div">
        <table class="data-table ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Validity (days)</th>
                    <th>Client Name</th>
                    <th>Client Address</th>
                    <th>Total Value</th>
                    <th>Budget Products</th>
                    <th>CreatedBy</th>
                    <th>Date of Creation</th>
                    <th>Expire</th>
                    <th>Observation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="budget:${budgets}">
                    <tr>
                        <td th:text="${budget.id}"></td>
                        <td th:text="${budget.validity}"></td>
                        <td th:text="${budget.client.name}"></td>
                        <td th:text="${budget.client.address}"></td>
                        <td th:text="${budget.totalValue}"></td>
                        <td><a th:href="@{'/products/create/' + ${budget.id}}">[[${budget.itensAmount}]]</a></td>
                        <td th:text="${budget.createdBy}"></td>
                        <td th:text="${budget.timeCreated}"></td>
                        <td th:text="${budget.expire}"></td>
                        <td th:text="${budget.observation}"></td>

                        <td>
                            <a th:href="@{'/budgets/edit/' + ${budget.id}}">Edit</a>
                            <a th:href="@{'/budgets/delete/' + ${budget.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </div>
</body>

</html>