.form-container {
    position: absolute;
    top: 8em;
    left: 30em;
    background-color: rgb(149, 170, 226, 0.8);
    width: 25em;
    height: 28em;
    display: flex;
    justify-content: center;
}

.form-container div {
    display: grid;
    justify-content: center;
    position: relative;
    left: -4em;
    top: 4em;
}

.form-container h2 {
    position: relative;
    text-decoration: underline;
    top: 1em;
    left: 5.5em;
}

.form-label {
    font-size: 1.2em;
}

.form-input {
    font-size: 1.2em;
}

.form-btn {
    font: 1.2em;
    color: white;
    background-color: rgb(81, 81, 233);
    width: 20em;
    height: 2em;
    left: 1em;
    margin-bottom:1em;
}

.form-btn:hover {
    background-color: rgb(139, 139, 247);
    -moz-box-align: stretch;
    -webkit-box-shadow: 0 3px 15px 0 rgb(107, 142, 238);
}